[defaults]
inventory = inventory/development/hosts.yml
remote_user = vagrant
host_key_checking = False
stdout_callback = yaml
collections_path = collections
private_key_file = ~/.ssh/kubernetes
retry_files_enabled = False
forks = 10
roles_path = $HOME/kubernetes-the-hard-way/kthw-ansible/roles

[privilege_escalation]
become = False
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ForwardAgent=no
pipelining = True