apiVersion: v1
kind: Config
clusters:
- cluster:
{% if kc.embed_certs %}
    certificate-authority-data: {{ lookup('file', kc.local_ca_path) | b64encode }}
{% else %}
    certificate-authority: {{ kc.remote_ca_path }}
{% endif %}
    server: https://{% if kc.use_localhost %}127.0.0.1{% else %}{{ hostvars[groups[loadbalancer_group][0]].ansible_host }}{% endif %}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: {{ kc.user }}
  name: default
current-context: default
users:
- name: {{ kc.user }}
  user:
{% if kc.embed_certs %}
    client-certificate-data: {{ lookup('file', kc.local_cert_path) | b64encode }}
    client-key-data: {{ lookup('file', kc.local_key_path) | b64encode }}
{% else %}
    client-certificate: {{ kc.remote_cert_path }}
    client-key: {{ kc.remote_key_path }}
{% endif %}
