apiVersion: v1
kind: Config
clusters:
  - cluster:
{% if kc.embed_certs %}
      certificate-authority-data: {{ slurped_ca.content }}
{% else %}
      certificate-authority: {{ kc.ca_path }}
{% endif %}
      server: https://{% if kc.use_localhost %}127.0.0.1{% else %}{{ lbone_ip }}{% endif %}:6443
    name: {{ cluster_name }}
contexts:
  - context:
      cluster: {{ cluster_name }}
      user: {{ kc.user }}
    name: default
current-context: default
users:
  - name: {{ kc.user }}
    user:
{% if kc.embed_certs %}
      client-certificate-data: {{ slurped_cert.content }}
      client-key-data: {{ slurped_key.content }}
{% else %}
      client-certificate: {{ kc.cert_path }}
      client-key: {{ kc.key_path }}
{% endif %}